@import 'variables';

.header{
    z-index: 999;
    background: var(--bg-color);
    position: fixed;
    top: 0px;
    width: 100%;
    // margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo-div{
        margin-left: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
        .invert{
            filter: var( --logo-color);
        }
        h3{
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 700;
            font-size: 43.25px;
            line-height: 34px;
            color: var(--color);
        }
    }
    .nav{
        margin-right: 100px;
        display: flex;
        gap: 40px;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        ul{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 40px;
            li{
                list-style-type: none;
                a{
                    text-decoration: none;
                    font-family: 'Open Sans';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 28px;
                    color: var(--color);
                    &:hover{
                        color: $green-light;
                    }
                }
            }
        }
        .mode{
            .mode-btn{
                padding: 8px 40px;
                // border: none;
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                border: 2px solid ;
                border-color: var(--color);
                border-radius: 24px;
                cursor: pointer;
                background: none;
                color: var(--color);
            }
        }
    }
}